@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');

body {
    margin: 0px;
    padding: 0px;
    border: black solid;
    font-family: Helvetica, sans-serif;
}

header {
    color: cornsilk;
    padding-left: 20px;
    background: black;
}

header div {
    display: inline;
    border: darkgrey solid;
    margin: auto;
}

/* header div:last-child {
    position: relative;
    top: -9px;
} */


h1 {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 50px;
}

section {
    padding: 20px;
    display: flex;
}

section div {
    display: inline-block;
    background: red;
    width: 100%;
    margin: 1px;
}

.nav {
    color: darkgrey;
    text-align: right;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: black;
    padding: 10px 20px;
    font-size: 11px;
    color: cornsilk;
    text-align: center;
}